.waf-widget.waf-form {
    padding-top: 34px;
    padding-bottom: 25px;
    padding-left: 10px;
    font-size: 12px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 3px;
    box-shadow: 2px 2px 6px hsla(0, 0%, 0%, 0.2);
    background: white;
}
.waf-form-part-title {
    height: 24px;
    box-shadow: inset 1px -1px 1px rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 4px 4px 0 0;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, rgba(255, 255, 255, 0.85) 46%, rgba(255, 255, 255, 1) 100%), url("/walib/WAF/widget/skin/default/png/widget-skin-default-texture.png");
    font-weight: bold;
    color: rgb(115, 115, 115);
    padding: 4px 0 0 10px;
}

.waf-formnavigation {
    height: 25px;
    border-top: 1px solid rgb(204, 204, 204);
    border-color: rgb(204, 204, 204);
    border-radius: 0 0 4px 4px;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 26%, rgba(255, 255, 255, 0.85) 69%, rgba(255, 255, 255, 1) 100%), url("/walib/WAF/widget/skin/default/png/widget-skin-default-texture.png");
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.waf-theme.default .waf-formnavigation button.waf-button {
    border: none;
    background: transparent;
}
.waf-formnavigation div.waf-text {
    display: inline;
    margin: 0 3px;
}

.waf-form label {
    float: left;
    width: 50%;
    clear: both;
}
.waf-form label + .waf-widget {
    float: left;
}
